@import 'angular-material.min.css';

body {
    /*background-image: url("../images/Under-Construction.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 1024px;
    height: 768px;
}

.storyBack {
    height: 444px;
    width: 710px;
    overflow-wrap: normal;
    overflow-y: auto;
    display: block;
    position: relative;
}

.storyBack::after {
    content: "";
    background: url(http://zumisworld.ga/images/StoryBack.png) no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.singleBorder {
    border: #000000 solid 1px;
}

.centerText {
    text-align: center;
}

.hiddenBtn {
    width: 0px;
    height: 0px;
}

.menuTop {
    background-color: #4682B4;
}
.menuBar {
    background-color: #4682B4;
}

.drenchGameDialog {
    width: 400px;
    height: 460px;
}

.chatback {
    background-color: #000000;
    height: 755px;
    width: 560px;
}

.chatwindow {
    background-color: #FFFFFF;
    float:left;
    overflow-y: auto;
    height: 400px;
    width: 560px;
}

.container {
    height: 755px;
}

.sidePanel {
    height: 755px;
    width: 565px;
}

.mainBodyKeepLeft {
    position: absolute;
    top: 0%;
    right: 25%;
    bottom: 100%;
    left: 0%;
}

.whiteBackground {
    background-color: #ffffff;
}

.redFont {
    font-weight: bold;
    color: #EE0000;
}

.noBorder {
    height: 100%;
    width: 100%;
    border-style: hidden;
}

.leftAddPanel {
    width: 100px;
    height: 100%;
}

.rightAddPanel {
    width: 100px;
    height: 100%;
}

.centerPanelStyle {
    width: 824px;
    height: 716px;
}
