@import 'angular-material.min.css';

.menuTop {
    background-color: #4682B4;
}

.drenchGameDialog {
    width: 400px;
    height: 460px;
}

.chatback {
    background-color: #000000;
}

.chatwindow {
    background-color: #FFFFFF;
    float:left;
    overflow-y: auto;
    height: 450px;
}
