@import 'angular-material.min.css';

.menuTop {
    background-color: #4682B4;
}
.menuBar {
    background-color: #4682B4;
}

.drenchGameDialog {
    width: 400px;
    height: 460px;
}

.chatback {
    background-color: #000000;
    height: 600px;
}

.chatwindow {
    background-color: #FFFFFF;
    float:left;
    overflow-y: auto;
    height: 450px;
}

.sidePanel {
    top:15%;
    left: 75%;
    height: 600px;
}

.mainBodyKeepLeft {
    position: absolute;
    top: 0%;
    right: 25%;
    bottom: 100%;
    left: 0%;
}

.whiteBackground {
    background-color: #ffffff;
}

.redFont {
    font-weight: bold;
    color: #EE0000;
}
