<div>
    <md-menu-bar class="menuBar">
        <md-menu>
            <md-button ng-click="$mdMenu.open($event)" class="md-button menuTop" aria-label="Open Games menu">
               GAMES
            </md-button>
            <md-menu-content>
                <md-menu-item><md-button ng-click="$ctrl.LaunchDrench()">Drench</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="$ctrl.SlappyLaunch()">Slappy Ninja</md-button></md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu>
            <md-button ng-click="$ctrl.DownloadDialog()" class="md-button menuTop" aria-label="Open Chat panel">
                DOWNLOADS
            </md-button>
            <md-menu-content></md-menu-content>
        </md-menu>
        <md-menu>
            <md-button ng-click="$ctrl.showChat()" class="md-button menuTop" aria-label="Open Chat panel">
                CHAT
            </md-button>
            <md-menu-content></md-menu-content>
        </md-menu>
    </md-menu-bar>
</div>
