<div>
    <md-menu-bar>
        <md-menu>
            <md-button ng-click="$mdMenu.open($event)" class="md-button menuTop" aria-label="Open sample menu">
               GAMES
            </md-button>
            <md-menu-content>
                <md-menu-item><md-button ng-click="$ctrl.LaunchDrench()">Drench</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="$ctrl.SlappyLaunch()">Slappy Ninja</md-button></md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-menu-bar>
</div>
